* {
  font-family: 'Lato', sans-serif;
}

.header {
  padding-top: 106px;
  padding-bottom: 76px;
  background: #FCFCFC;
  margin-bottom: 95px;

  h1 {
    font-size: 24px;
    color: #585858;
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .input-group {
    margin: 33px auto;
    width: fit-content;
    display: flex;
  }

  input {
    border: 0;
    padding: 10px 20px;
    outline: 0;
    border: 1px solid #E5E5E5;
    border-radius: 4px 0 0 4px;
    width: 268px;
  }

  button {
    background-image: linear-gradient(-45deg, #8F82FA 0%, #82BBFD 100%);
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
    outline: none;
    border: 0;
    width: 117px;
    cursor: pointer;
    font-weight: bold;
  }
}

h5 {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #5b5b5b;
  font-weight: 400;
}

.heatmap-wrapper {
  width: fit-content;
  margin: 0 auto 54px auto;
}

.lds-default {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #5c5c5c;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 29px;
  left: 53px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 18px;
  left: 50px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 9px;
  left: 41px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 6px;
  left: 29px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 9px;
  left: 18px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 18px;
  left: 9px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 29px;
  left: 6px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 41px;
  left: 9px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 50px;
  left: 18px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 53px;
  left: 29px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 50px;
  left: 41px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 41px;
  left: 50px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}